<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>USight</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>


	    <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
		<script type="text/javascript" src="assets/js/core/libraries/jquery_ui/core.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/selects/selectboxit.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/tags/tagsinput.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/tags/tokenfield.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/inputs/touchspin.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/inputs/maxlength.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/inputs/formatter.min.js"></script>
		<!-- /core JS files -->

		<!-- Theme JS files -->
		<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
		<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.layout.cloud.js"></script>
		<script type="text/javascript" src="assets/js/plugins/visualization/c3/c3.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
		<script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>
		<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/jvectormap.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/map_files/world.js"></script>
		<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/map_files/countries/usa.js"></script>
		<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/map_files/countries/germany.js"></script>
		<script type="text/javascript" src="assets/demo_data/maps/vector/gdp_demo_data.js"></script>
		<script type="text/javascript" src="assets/js/plugins/media/fancybox.min.js"></script>
	    <script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>
		<script type="text/javascript" src="assets/js/plugins/pickers/anytime.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.js"></script>
		<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.date.js"></script>
		<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.time.js"></script>
		<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/legacy.js"></script>
	    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/jquery.JIndicator.min.js"></script>

		<script type="text/javascript" src="assets/js/plugins/forms/styling/switch.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/sliders/nouislider.min.js"></script>


		<script type="text/javascript" src="assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/usight/engagement.js"></script>
	<!-- /theme JS files -->

</head>

<body>

	<%- include mainnavbar.ejs %>

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<%- include mainsidebar.ejs %>

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">
                    <h4 class="panel-title">ENGAGEMENT ANALYSIS</h4>

					<div class="row" style="padding-left:10px;padding-right:10px;padding-top:20px">
                        <div class="col-md-3">
                            <div class="form-group form-group-material">
                                <label class=" has-margin"><b>Tracker Name</b></label>
                                <select data-placeholder="select tracker.." multiple="multiple" class="select" id="listTracker">
                                    <option value="Blanja">Blanja</option>
                                    <option value="Elevania">Elevania</option>
                                    <option value="Shopee">Shopee</option>
                                    <option value="Tokopedia">Tokopedia</option>
                                    <option value="Lazada">Lazada</option>
                                    <option value="Blibli">Blibli</option>
                                    <option value="MatahariMall">MatahariMall</option>
                                    <option value="Olx">Olx</option>
                                    <option value="Tiket">Tiket.com</option>
                                    <option value="Berrybenka">Berrybenka</option>
                                    <option value="Zalora">Zalora</option>
                                    <option value="Bhineka">Bhineka</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="display-block"><b>Period</b> </label>
                                <button type="button" class="btn btn-danger daterange-ranges">
                                    <i class="icon-calendar22 position-left"></i> <span></span> <b class="caret"></b>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="display-block text-semibold"><b>Sources</b></label>

                                <label class="checkbox-inline">
                                    <input id="sourcetwitter" type="checkbox" class="styled" name="twitter" value="twitter">
                                    Twitter
                                </label>

                                <label class="checkbox-inline">
                                    <input id="sourcefacebook" type="checkbox" class="styled" name="facebook" value="facebook">
                                    Facebook
                                </label>
                                <label class="checkbox-inline">
                                    <input id="sourceinstagram" type="checkbox" class="styled" name="instagram" value="instagram">
                                    Instagram
                                </label>
                                <label class="checkbox-inline">
                                    <input id="sourcenews" type="checkbox" class="styled" name="news" value="news">
                                    News
                                </label>
                                <label class="checkbox-inline">
                                    <input id="sourceplaystore" type="checkbox" class="styled" name="playstore" value="playstore">
                                    Playstore
                                </label>
                                <label  class="checkbox-inline">
                                    <input id="sourceall" type="checkbox" class="styled" name="all" value="all">
                                    All
                                </label>
                            </div>
                        </div>

					</div>
					<!-- Main charts -->
					<div class="row">
						<div class="col-lg-5">

							<!-- Traffic sources -->
							<div class="panel panel-flat" >
								<div class="panel-heading">
									<h6 class="panel-title">Engagement Graph</h6>
								</div>

								<div class="position-relative" id="dailyBuzz"></div>
							</div>
							<!-- /traffic sources -->

						</div>
						<div class="col-lg-3">

							<div class="row">
								<div class="panel panel-flat" style="height:280px;">
									<div class="panel-heading">
										<h6 class="panel-title text-semibold">Engagement Source</h6>
									</div>

									<div class="panel-body">
										<div class="chart-container">
											<div class="chart" id="barchart"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="panel panel-flat" style="height:300px;">
									<div class="panel-heading">
										<h6 class="panel-title text-semibold">Engagement Type</h6>
									</div>
									<div class="position-relative" id="sentiment"></div>


								</div>
							</div>

						</div>
						<div class="col-lg-4">

							<!-- Traffic sources -->
							<div class="panel panel-flat" >
								<div class="panel-heading" style="padding-bottom:5px;padding-top:5px">
									<h6 class="panel-title">Engagement Rate</h6>
								</div>

								<div class="container-fluid" style="padding-top:0px;padding-left:10px">
									<div class="row" style="padding-left:20px">
										<div class="text-center col-md-5">
											<h1>0,43%</h1>
											<span class="label label-primary label-rounded">GOOD</span>
										</div>
										<div class="col-md-7">
											<h6 class="no-margin text-bold" style="font-size:13px;padding-bottom:5px;">Industry Average: <small>0.51%</small></h6>
											<h6 class="no-margin text-bold" style="font-size:13px;padding-bottom:5px;">Average Response Time: <small>5m</small></h6>
											<h6 class="no-margin text-bold" style="font-size:13px;padding-bottom:5px;">Total Impressions: <small>8,431,999</small></h6>
											<h6 class="no-margin text-bold" style="font-size:13px;padding-bottom:5px;">Total Engagement: <small id="totalEngagement"></small></h6>
											<h6 class="no-margin text-bold" style="font-size:13px;padding-bottom:5px;">Total Reach: <small id="totalReach"></small></h6>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-flat" >
								<div class="panel-heading">
									<h6 class="panel-title">Top 10 Customers</h6>
								</div>

								<div class="panel-body" id="top10">
									<div class="col-lg-12 col-md-12" style="padding-left:0px;padding-right:0px;">
										<div class="panel panel-body" style="padding:5px;margin-bottom:10px;">
											<div class="media">
												<div class="media-left">
													<a href="assets/images/placeholder.jpg" data-popup="lightbox">
														<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
													</a>
												</div>
												<div class="media-body">
													<span class="media-heading" style="margin-top:10px">Mohamed El-Erian</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12" style="padding-left:0px;padding-right:0px;">
										<div class="panel panel-body" style="padding:5px;margin-bottom:10px;">
											<div class="media">
												<div class="media-left">
													<a href="assets/images/placeholder.jpg" data-popup="lightbox">
														<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
													</a>
												</div>
												<div class="media-body">
													<span class="media-heading" style="margin-top:10px">Liz Ryan</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12" style="padding-left:0px;padding-right:0px;">
										<div class="panel panel-body" style="padding:5px;margin-bottom:10px;">
											<div class="media">
												<div class="media-left">
													<a href="assets/images/placeholder.jpg" data-popup="lightbox">
														<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
													</a>
												</div>
												<div class="media-body">
													<span class="media-heading" style="margin-top:10px">John Battelle</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12" style="padding-left:0px;padding-right:0px;">
										<div class="panel panel-body" style="padding:5px;margin-bottom:10px;">
											<div class="media">
												<div class="media-left">
													<a href="assets/images/placeholder.jpg" data-popup="lightbox">
														<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
													</a>
												</div>
												<div class="media-body">
													<span class="media-heading" style="margin-top:10px">Vivek Wadhwa</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12" style="padding-left:0px;padding-right:0px;">
										<div class="panel panel-body" style="padding:5px;margin-bottom:10px;">
											<div class="media">
												<div class="media-left">
													<a href="assets/images/placeholder.jpg" data-popup="lightbox">
														<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
													</a>
												</div>
												<div class="media-body">
													<span class="media-heading" style="margin-top:10px">Jill Schleisinger</span>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<!-- /traffic sources -->

						</div>


					</div>

					<div class="row">
						<div class="col-lg-12">

							<!-- Sales stats -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h6 class="panel-title"></h6>

								</div>

								<div class="container-fluid">
									<div class="row text-center">
										<div class="col-md-2">
											<div class="content-group">
												<i class="icon-sigma position-left text-slate" style="font-size:40px"></i><br>
												<h6 class="text-semibold no-margin"> All</h6>
												<h2 class="text-semibold no-margin" id="totalAll"> 5,000</h2>

											</div>
										</div>
										<div class="col-md-2">
											<div class="content-group">
												<i class="icon-twitter position-left text-slate" style="font-size:40px"></i><br>
												<h6 class="text-semibold no-margin"> Twitter</h6>
												<h2 class="text-semibold no-margin" id="totalTwitter"> 5,000</h2>

											</div>
										</div>
										<div class="col-md-2">
											<div class="content-group">
												<i class="icon-facebook position-left text-slate" style="font-size:40px"></i><br>
												<h6 class="text-semibold no-margin"> Facebook</h6>
												<h2 class="text-semibold no-margin" id="totalFacebook"> 5,000</h2>

											</div>
										</div>
										<div class="col-md-2">
											<div class="content-group">
												<i class="icon-instagram position-left text-slate" style="font-size:40px"></i><br>
												<h6 class="text-semibold no-margin"> Instagram</h6>
												<h2 class="text-semibold no-margin" id="totalInstagram"> 5,000</h2>

											</div>
										</div>
										<div class="col-md-2">
											<div class="content-group">
												<i class="icon-play4 position-left text-slate" style="font-size:40px"></i><br>
												<h6 class="text-semibold no-margin"> Google Store</h6>
												<h2 class="text-semibold no-margin" id="totalPlaystore"> 5,000</h2>

											</div>
										</div>
										<div class="col-md-2">
											<div class="content-group">
												<i class="icon-dribbble position-left text-slate" style="font-size:40px"></i><br>
												<h6 class="text-semibold no-margin"> News Site</h6>
												<h2 class="text-semibold no-margin" id="totalNews"> 5,000</h2>

											</div>
										</div>


									</div>
								</div>

								<div class="content-group-sm" id="app_sales"></div>
								<div id="monthly-sales-stats"></div>
							</div>
							<!-- /sales stats -->

						</div>

					</div>
					<div class="row">
						<div class="col-lg-12">

							<!-- Traffic sources -->
							<div class="panel panel-flat" style="height:450px">
								<div class="panel-heading">

								</div>

								<div class="panel-body">
									<div class="tabbable">
										<ul class="nav nav-sm nav-tabs nav-tabs-solid nav-tabs-component">
											<li class="active"><a href="#small-tab1" data-toggle="tab">All(<span id="totalAlls">0</span>)</a></li>
											<li><a href="#small-tab2" data-toggle="tab">Facebook(<span id="totalFacebooks">0</span>)</a></li>
											<li><a href="#small-tab3" data-toggle="tab">Twitter(<span id="totalTwitters">0</span>)</a></li>
											<li><a href="#small-tab4" data-toggle="tab">Instagram(<span id="totalInstagrams">0</span>)</a></li>
											<li><a href="#small-tab5" data-toggle="tab">News(<span id="totalNewss">0</span>)</a></li>
											<li><a href="#small-tab6" data-toggle="tab">Apps(<span id="totalAppss">0</span>)</a></li>

										</ul>

										<div class="tab-content" style="height:300px;overflow: auto;position: absolute;">
											<div class="tab-pane active" id="small-tab1" >
												<div id="allData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>

											<div class="tab-pane" id="small-tab2">
												<div id="facebookData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>

											<div class="tab-pane" id="small-tab3">
												<div id="twitterData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>

											<div class="tab-pane" id="small-tab4">
												<div id="instagramData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="tab-pane" id="small-tab5">
												<div id="newsData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="tab-pane" id="small-tab6">
												<div id="appsData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


							</div>
							<!-- /traffic sources -->

						</div>
					</div>
					<!-- /main charts -->


					<%- include footer.ejs %>

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
