<!-- Footer -->
<div class="footer text-muted">
    &copy; 2017. <a href="#">USight - AMOEBA</a> by <a href="http://digitalamoeba.id/the-amoebas/" target="_blank">Digital Amoeba</a>
</div>
<!-- /footer -->
