<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-custom">
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">

                    <div class="media-body">
                        <img src="assets/images/usight/usight-logo.png" alt="" width="100%" align="middle">

                    </div>


                </div>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <!-- Main -->
                    <li class="navigation-header"><span>MENU</span> <i class="icon-menu" title="Main pages"></i></li>
                    <li class="active"><a href="index"><i class="icon-home2"></i> <span>Home</span></a></li>
                    <li>
                        <a href="#"><i class="icon-stats-dots"></i> <span>Analysis</span></a>
                        <ul>
                            <li><a href="tracker"><i class="icon-hammer-wrench"></i>Tracker Settings</a></li>
                            <li><a href="sentiment"><i class="icon-theater"></i>Sentiment Analysis</a></li>
                            <li><a href="engagement"><i class="icon-star-empty3"></i>Engagement Analysis</a></li>
                            <li><a href="coming-soon"><i class="icon-search4"></i>Network Analysis <span class="label bg-warning-400">New</span></a></li>
                            <!--<li><a href="index.html"><i class="icon-users2"></i>Customer Persona</a></li>
                            <li><a href="404"><i class="icon-file-text"></i>Comparison <span class="label bg-warning-400">New</span></a></li>-->
                        </ul>
                    </li>
                    <li ><a href="recomendation"><i class="icon-bell3"></i> <span>Recomendation</span></a></li>
                    <li ><a href="coming-soon"><i class="icon-stack2"></i> <span>Generate Report</span></a></li>

                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
<!-- /main sidebar -->
