<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>USight</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>

    <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery_ui/core.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/selectboxit.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/tags/tagsinput.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/tags/tokenfield.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/inputs/touchspin.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/inputs/maxlength.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/inputs/formatter.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.layout.cloud.js"></script>
	<script type="text/javascript" src="assets/js/plugins/visualization/c3/c3.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>
	<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/jvectormap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/map_files/world.js"></script>
	<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/map_files/countries/usa.js"></script>
	<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/map_files/countries/germany.js"></script>
	<script type="text/javascript" src="assets/demo_data/maps/vector/gdp_demo_data.js"></script>
	<script type="text/javascript" src="assets/js/plugins/media/fancybox.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/anytime.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.date.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.time.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/legacy.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/jquery.JIndicator.min.js"></script>

	<script type="text/javascript" src="assets/js/plugins/forms/styling/switch.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/sliders/nouislider.min.js"></script>


	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/usight/recomendation.js"></script>
	<!-- /theme JS files -->

</head>

<body>

	<%- include mainnavbar.ejs %>

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<%- include mainsidebar.ejs %>

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">
                    <h4 class="panel-title">RECOMENDATION</h4>

					<div class="row" style="padding-left:10px;padding-right:10px;padding-top:20px">
                        <div class="col-md-3">
                            <div class="form-group form-group-material">
                                <label class=" has-margin"><b>Tracker Name</b></label>
                                <select data-placeholder="select tracker.." multiple="multiple" class="select" id="listTracker">
                                    <option value="Blanja">Blanja</option>
                                    <option value="Elevania">Elevania</option>
                                    <option value="Shopee">Shopee</option>
                                    <option value="Tokopedia">Tokopedia</option>
                                    <option value="Lazada">Lazada</option>
                                    <option value="Blibli">Blibli</option>
                                    <option value="MatahariMall">MatahariMall</option>
                                    <option value="Olx">Olx</option>
                                    <option value="Tiket">Tiket.com</option>
                                    <option value="Berrybenka">Berrybenka</option>
                                    <option value="Zalora">Zalora</option>
                                    <option value="Bhineka">Bhineka</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="display-block"><b>Period</b> </label>
                                <button type="button" class="btn btn-danger daterange-ranges">
                                    <i class="icon-calendar22 position-left"></i> <span></span> <b class="caret"></b>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="display-block text-semibold"><b>Sources</b></label>

                                <label class="checkbox-inline">
                                    <input id="sourcetwitter" type="checkbox" class="styled" name="twitter" value="twitter">
                                    Twitter
                                </label>

                                <label class="checkbox-inline">
                                    <input id="sourcefacebook" type="checkbox" class="styled" name="facebook" value="facebook">
                                    Facebook
                                </label>
                                <label class="checkbox-inline">
                                    <input id="sourceinstagram" type="checkbox" class="styled" name="instagram" value="instagram">
                                    Instagram
                                </label>
                                <label class="checkbox-inline">
                                    <input id="sourcenews" type="checkbox" class="styled" name="news" value="news">
                                    News
                                </label>
                                <label class="checkbox-inline">
                                    <input id="sourceplaystore" type="checkbox" class="styled" name="playstore" value="playstore">
                                    Playstore
                                </label>
                                <label  class="checkbox-inline">
                                    <input id="sourceall" type="checkbox" class="styled" name="all" value="all">
                                    All
                                </label>
                            </div>
                        </div>

					</div>
					<!-- Main charts -->
					<div class="row" id="contentRec">
					</div>
					<!-- /main charts -->


					<%- include footer.ejs %>

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
