<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>USight</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>

    <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery_ui/core.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/selectboxit.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/tags/tagsinput.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/tags/tokenfield.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/inputs/touchspin.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/inputs/maxlength.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/inputs/formatter.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.layout.cloud.js"></script>
	<script type="text/javascript" src="assets/js/plugins/visualization/c3/c3.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>
	<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/jvectormap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/map_files/world.js"></script>
	<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/map_files/countries/usa.js"></script>
	<script type="text/javascript" src="assets/js/plugins/maps/jvectormap/map_files/countries/germany.js"></script>
	<script type="text/javascript" src="assets/demo_data/maps/vector/gdp_demo_data.js"></script>
	<script type="text/javascript" src="assets/js/plugins/media/fancybox.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/anytime.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.date.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.time.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/legacy.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>

	<script type="text/javascript" src="assets/js/plugins/forms/styling/switch.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/sliders/nouislider.min.js"></script>


	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/usight/sentiment.js"></script>
	<!-- /theme JS files -->

</head>

<body>

	<%- include mainnavbar.ejs %>

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<%- include mainsidebar.ejs %>

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">
                    <h4 class="panel-title">SENTIMENT ANALYSIS</h4>

					<div class="row" style="padding-left:10px;padding-right:10px;padding-top:20px">
                        <div class="col-md-3">
                            <div class="form-group form-group-material">
                                <label class=" has-margin"><b>Tracker Name</b></label>
                                <select data-placeholder="select tracker.." multiple="multiple" class="select">
                                    <option value="Blanja">Blanja</option>
                                    <option value="Elevania">Elevania</option>
                                    <option value="Shopee">Shopee</option>
                                    <option value="Tokopedia">Tokopedia</option>
                                    <option value="Lazada">Lazada</option>
                                    <option value="Blibli">Blibli</option>
                                    <option value="MatahariMall">MatahariMall</option>
                                    <option value="Olx">Olx</option>
                                    <option value="Tiket">Tiket.com</option>
                                    <option value="Berrybenka">Berrybenka</option>
                                    <option value="Zalora">Zalora</option>
                                    <option value="Bhineka">Bhineka</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="display-block"><b>Period</b> </label>
                                <button type="button" class="btn btn-danger daterange-ranges">
                                    <i class="icon-calendar22 position-left"></i> <span></span> <b class="caret"></b>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="display-block text-semibold"><b>Sources</b></label>

                                <label class="checkbox-inline">
                                    <input id="sourcetwitter" type="checkbox" class="styled" name="twitter" value="twitter">
                                    Twitter
                                </label>

                                <label class="checkbox-inline">
                                    <input id="sourcefacebook" type="checkbox" class="styled" name="facebook" value="facebook">
                                    Facebook
                                </label>
                                <label class="checkbox-inline">
                                    <input id="sourceinstagram" type="checkbox" class="styled" name="instagram" value="instagram">
                                    Instagram
                                </label>
                                <label class="checkbox-inline">
                                    <input id="sourcenews" type="checkbox" class="styled" name="news" value="news">
                                    News
                                </label>
                                <label class="checkbox-inline">
                                    <input id="sourceplaystore" type="checkbox" class="styled" name="playstore" value="playstore">
                                    Playstore
                                </label>
                                <label  class="checkbox-inline">
                                    <input id="sourceall" type="checkbox" class="styled" name="all" value="all">
                                    All
                                </label>
                            </div>
                        </div>

					</div>
					<!-- Main charts -->
					<div class="row">
						<div class="col-lg-9">

							<!-- Traffic sources -->
							<div class="panel panel-flat" >
								<div class="panel-heading">
									<h6 class="panel-title">Daily Buzz</h6>
								</div>

								<div class="position-relative" id="dailyBuzz"></div>
							</div>
							<!-- /traffic sources -->

						</div>
						<div class="col-lg-3">

							<!-- Traffic sources -->
							<div class="panel panel-flat" >
								<div class="panel-heading" style="padding-bottom:5px;padding-top:5px">
									<h6 class="panel-title">Sentiment Filter</h6>
								</div>

								<div class="container-fluid" style="padding-top:0px;padding-left:10px">
									<div class="row" style="padding-left:20px">
										<div class="checkbox">
											<label>
												<input type="checkbox" class="styled" checked="checked" id="senPos">
												Positive (3500)
											</label>
										</div>
									</div>
									<div class="row" style="padding-left:20px">
										<div class="checkbox">
											<label>
												<input type="checkbox" class="styled" checked="checked" id="senNeg">
												Negative (3500)
											</label>
										</div>
									</div>
									<div class="row" style="padding-left:20px">
										<div class="checkbox">
											<label>
												<input type="checkbox" class="styled" checked="checked" id="senNeu">
												Neutral (3500)
											</label>
										</div>
									</div>

								</div>
							</div>
							<div class="panel panel-flat" >
								<div class="panel-heading">
									<h6 class="panel-title">Sentiment Score</h6>
								</div>

								<div class="container-fluid">
									<div class="row" style="padding-left:20px;padding-right:20px;padding-bottom:10px">
										<div class="noui-slider-info has-pips" id="noui-slider-pips-range"></div>
									</div>
								</div>
							</div>
							<!-- /traffic sources -->

						</div>


					</div>

					<div class="row">
						<div class="col-lg-5">

							<!-- Traffic sources -->
							<div class="panel panel-flat" style="height:500px;">
								<div class="panel-heading">
									<h6 class="panel-title">Word Cloud</h6>
								</div>

								<div class="position-relative" id="wc"></div>
							</div>
							<!-- /traffic sources -->

						</div>
						<div class="col-lg-3">

							<!-- Traffic sources -->
							<div class="panel panel-flat" style="height:500px;">
								<div class="panel-heading">
									<h6 class="panel-title text-semibold">Sums up - Social Voices</h6>
								</div>

								<div class="panel-body">
									<div class="chart-container">
										<div class="chart" id="barchart"></div>
									</div>
								</div>
							</div>
							<!-- /traffic sources -->

						</div>
						<div class="col-lg-4">

							<div class="panel panel-flat" style="height:500px;">
								<div class="panel-heading">
									<h6 class="panel-title text-semibold">Sentiment Percentage</h6>
								</div>
								<div class="position-relative" id="sentiment"></div>


							</div>

						</div>

					</div>
					<div class="row">
						<div class="col-lg-8">

							<!-- Traffic sources -->
							<div class="panel panel-flat" style="height:450px">
								<div class="panel-heading">
									<h6 class="panel-title">Sentiment Detail</h6>
								</div>

								<div class="panel-body">
									<div class="tabbable">
										<ul class="nav nav-sm nav-tabs nav-tabs-solid nav-tabs-component">
											<li class="active"><a href="#small-tab1" data-toggle="tab">All(15706)</a></li>
											<li><a href="#small-tab2" data-toggle="tab">Facebook(705)</a></li>
											<li><a href="#small-tab3" data-toggle="tab">Twitter(705)</a></li>
											<li><a href="#small-tab4" data-toggle="tab">Instagram(705)</a></li>
											<li><a href="#small-tab5" data-toggle="tab">News(705)</a></li>
											<li><a href="#small-tab6" data-toggle="tab">Apps(705)</a></li>

										</ul>

										<div class="tab-content" style="height:300px;overflow: auto;position: absolute;">
											<div class="tab-pane active" id="small-tab1" >
												<div id="allData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>

											<div class="tab-pane" id="small-tab2">
												<div id="facebookData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>

											<div class="tab-pane" id="small-tab3">
												<div id="twitterData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>

											<div class="tab-pane" id="small-tab4">
												<div id="instagramData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="tab-pane" id="small-tab5">
												<div id="newsData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="tab-pane" id="small-tab6">
												<div id="appsData" ></div>
												<div class="col-lg-12">
													<div class="pull-right">
														<ul class="pager pager-xs pull-right">
															<li><a href="#">Next →</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


							</div>
							<!-- /traffic sources -->

						</div>
						<div class="col-lg-4">
							<div class="panel panel-flat" style="height:400px;">
								<div class="panel-heading">
									<h6 class="panel-title">Top Categories</h6>
								</div>

								<div class="panel-body">
									<div class="tabbable">
										<ul class="nav nav-tabs nav-tabs-bottom">
											<li class="active"><a href="#bottom-tab1" data-toggle="tab">Daily</a></li>
											<li><a href="#bottom-tab2" data-toggle="tab">Weekly</a></li>
											<li><a href="#bottom-tab3" data-toggle="tab">Monthly</a></li>

										</ul>

										<div class="tab-content">
											<div class="tab-pane active" id="bottom-tab1">
												<div class="content-group-xs" id="bullets"></div>
											</div>

											<div class="tab-pane" id="bottom-tab2">
												Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid laeggin.
											</div>

											<div class="tab-pane" id="bottom-tab3">
												DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg whatever.
											</div>


										</div>
									</div>
								</div>



							</div>

							<!-- Traffic sources -->
							<!-- Choropleth map -->

							<!-- /traffic sources -->

						</div>
					</div>
					<!-- /main charts -->


					<%- include footer.ejs %>

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
